/* ======== custom fonts ======== */

@font-face {
    font-family: "blkchcry";
    src: url("../fonts/blkchcry.ttf");
}

@font-face {
    font-family: "Birds of Paradise";
    src: url("../fonts/Birds\ of\ Paradise\ +\ PERSONAL\ USE\ ONLY.ttf");
}

@font-face {
    font-family: "ObelixPro-cyr";
    src: url("../fonts/ObelixPro-cyr.ttf");
}

@font-face {
    font-family: "creepsville";
    src: url("../fonts/RW-creepsville.ttf");
}

@font-face {
    font-family: "athletic";
    src: url("../fonts/Athletic.TTF");
}

@font-face {
    font-family: "Inkfree";
    src: url("../fonts/Inkfree.ttf");
}

@font-face {
    font-family: "adrip";
    src: url("../fonts/adrip1.ttf");
}

@font-face {
    font-family: "waltograph";
    src: url("../fonts/waltograph42.otf");
}

@font-face {
    font-family: "ComicSans";
    src: url("../fonts/Ldfcomicsanslight-6dZo.ttf");
}

@font-face {
    font-family: "OldeEnglish";
    src: url("../fonts/OldeEnglish.ttf");
}

@font-face {
    font-family: "AVENGEANCE";
    src: url("../fonts/AVENGEANCE\ HEROIC\ AVENGER\ AT.ttf");
}

@font-face {
    font-family: "BacktoBlack";
    src: url("../fonts/Back\ to\ Black\ Bold\ Demo.ttf");
}

@font-face {
    font-family: "Albertson";
    src: url("../fonts/Albertson.ttf");
}

@font-face {
    font-family: "Freshman";
    src: url("../fonts/Freshman.ttf");
}

@font-face {
    font-family: "Autumn";
    src: url("../fonts/Autumn\ Free.ttf");
}

@font-face {
    font-family: "impact";
    src: url("../fonts/Impact.ttf");
}

@font-face {
    font-family: "BrannbollFS_PERSONAL";
    src: url("../fonts/BrannbollFS_PERSONAL.ttf");
}

@font-face {
    font-family: "hemi";
    src: url("../fonts/hemi\ head\ bd\ it.otf");
}

@font-face {
    font-family: "showg";
    src: url("../fonts/showg.ttf");
}

@font-face {
    font-family: "arial";
    src: url("../fonts/arial.ttf");
}