.qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.alert.alert-success.alert-dismissible {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.my-alert {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 1000;
}